table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
}

.tableFixHead {
    overflow-y: scroll; /* make the table scrollable if height is more than 200 px  */
    height: 300px; /* gives an initial height of 200px to the table */
}

.tableFixHead thead th {
    position: sticky; /* make the table heads sticky */
    top: 0px; /* table head will be placed from the top of the table and sticks to it */
}

th {
    background: #eee;
}